.head-logo-container {
    float: left;
    /*yeni logo için tekrar margin ayarı yapilacak*/
    margin-top: 3px;
    /*width: 200px;*/
    position: relative;
}
.embed-responsive-item{
    float: left;
    margin: 5px;
}
.jumbotron{
    text-align: center;
}
.media{
    padding-top: 10px;

}
.FourVideo{
       margin-top: 15px;
}
.col-md-4 .col-lg-2 .col-sm-6{
    padding-left: 3px;
    padding-right: 3px;
}