.head-logo-container {
    float: left;
    /*yeni logo için tekrar margin ayarı yapilacak*/
    margin-top: 3px;
    /*width: 200px;*/
    position: relative;
}
.embed-responsive-item{
    float: left;
    margin: 5px;
}